.about-me span {
    color: white;

}

h1 {
    color: white;
    width: 300px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    position: relative;
    top: calc(50% - 20px);
}

.project {
    border: 1px solid;
    float: left;
    background-color: rgba(83, 80, 85, 0.603);
    width: 100%;
    height: 90%;
    text-align: center;
    overflow-y: auto;

    

}

#project-search {
    text-align: center;
    background-color: rgb(182, 181, 181);
    position: absolute;
    
    position: sticky;
    top: 5px;
    height: auto;
    font-size: larger;
    
    width: 50%;
}

.project img {
    height: 50%;
    max-width: 100%;
      
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project span {
    color: rgba(255, 255, 255, 0.74);
    font-size: x-large;
    
}

.project a {
    color: blue;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
}

#about-me-card {
    border: 5px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

#about-me-card img {
    border-radius: 50%;  display: block;
    margin-left: auto;
    margin-right: auto;

}

.blog-post-card {
    background-color: blueviolet;
    width: 100%;
    height: calc(20%);
}

.blog-post-card img {
    position: relative; 
    left: 1%; 
    top: 5%; 
    float: left;
}


.blog {
    
    background-color: rgba(20, 24, 78, 0.473);
    width: 98%;
    height: calc(100% - 70px);
    position: absolute;
    left: 1%;
    top: 5px;
    vertical-align: middle;
    margin: 0 auto;
    float: right;
}

.about-me {
    
    background-color: rgba(20, 24, 78, 0.473);
    width: 98%;
    height: calc(100% - 70px);
    position: absolute;
    left: 1%;
    top: 5px;
    vertical-align: middle;
    margin: 0 auto;
    float: right;
}

.contact-me {
    
    background-color: rgba(20, 24, 78, 0.473);
    width: 98%;
    height: calc(100% - 70px);
    position: absolute;
    top: 5px;
    left: 1%;
    
    vertical-align: middle;
    margin: 0 auto;
    float: right;
    
}

.my-projects {
    
    background-color: rgba(20, 24, 78, 0.473);
    width: 98%;
    height: calc(100% - 70px);
    position: absolute;
    top: 5px;
    left: 1%;
    
    vertical-align: middle;
    margin: 0 auto;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.social-contact {
    
}

.social-icon {
    display: inline-block;
    
    float: left;
    background-color: black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#projects-footer img {
    background-color: black;
    border-radius: 50%;
}

#projects-footer {
    display: block;
    background-color:  rgb(182, 181, 181);
    width: 100%;
    height: auto;
    text-align: center;

    
    font-size: larger;
    
    font-weight: bolder;
    position: sticky;
    top: 96.5%;
}